### Substituindoo Excel
- Groupby simples e avançado (método "agg")
- Tabela Dinâmica (pivot_table: lembrar do "aggfunc")
- Transpose (T)
- Context Manager
- Exportar para Excel simples e avançado (ExcelWriter, argumento "sheet_name")

In [49]:
import pandas as pd

dados = pd.read_excel("CVM.xlsx", index_col="DATA")
dados.drop("Unnamed: 0", axis=1, inplace=True)

dados = dados.groupby("NOME").agg({
        "COTA": "mean",
        "PL": "min",
        "RESGATES": "max"
    }).T # max, min, sum, mean (não usar "average")

dados

NOME               FIA           FIM        GLOBAL
COTA      2.080277e+01  2.364408e+00  1.169402e+00
PL        1.746085e+09  5.858084e+08  4.256552e+07
RESGATES  9.814225e+06  4.065520e+06  8.044010e+05

In [45]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
iris = iris.pivot_table(values=["sepal_length", "sepal_width", "petal_length"], columns="species", aggfunc="min")

iris

species       setosa  versicolor  virginica
petal_length     1.0         3.0        4.5
sepal_length     4.3         4.9        4.9
sepal_width      2.3         2.0        2.2

In [51]:
dados.to_excel("Dados CVM Tratados.xlsx")
iris.to_excel("Iris.xlsx")

In [53]:
# Context Manager

with pd.ExcelWriter("Meta Excel.xlsx") as writer: # import pandas as pd
    dados.to_excel(writer, sheet_name="CVM")
    iris.to_excel(writer, sheet_name="Iris")