### Concat e Merge
- Dois métodos comuns no Python
- Unificação de dados distintos
- Coluna de unificação (merge) se chama "key"
- Concat: Axis 0 = vertical, Axis 1 = horizontal

In [12]:
import pandas as pd, yfinance as yf
 
data = [[1, 'Produto A'], [2, 'Produto B'], [3, 'Produto C']]
 
df = pd.DataFrame(data, columns=['ID', 'Nome'])

df

   ID       Nome
0   1  Produto A
1   2  Produto B
2   3  Produto C

In [36]:
data2 = [[1, 10], [2, 15], [3, 14]]

df2 = pd.DataFrame(data2, columns=['Identidade', 'Preço'])

df2.columns = ["ID", "Preço"]

df2 = df2.sort_values(by="ID", ascending=False)

df2

   ID  Preço
2   3     14
1   2     15
0   1     10

In [33]:
df.merge(df2, on="ID")

   ID       Nome  Preço
0   1  Produto A     10
1   2  Produto B     15
2   3  Produto C     14

In [37]:
pd.concat([df, df2], axis=1) # Axis 0 = vertical, Axis 1 = horizontal

   ID       Nome  ID  Preço
0   1  Produto A   1     10
1   2  Produto B   2     15
2   3  Produto C   3     14

In [48]:
dados = yf.download("IVV")["Close"]
dados2 = yf.download("IBIT")["Close"]

carteira = pd.concat([dados, dados2], axis=1)

carteira

[*********************100%%**********************]  1 of 1 completed

c:\Users\felip\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:771: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

[*********************100%%**********************]  1 of 1 completed

c:\Users\felip\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:771: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

                 Close      Close
Date
2000-05-19  140.687500        NaN
2000-05-22  139.812500        NaN
2000-05-23  137.687500        NaN
2000-05-24  139.750000        NaN
2000-05-25  138.468750        NaN
...                ...        ...
2024-05-23  528.640015  38.270000
2024-05-24  532.150024  39.459999
2024-05-28  532.559998  38.980000
2024-05-29  528.750000  38.320000
2024-05-30  525.320007  39.160000

[6045 rows x 2 columns]