### Ordem em Listas
- Método .sort()
- Argumento opcional: Reverse

In [ ]:
import pandas as pd

dados = ["Ana", "Paulo", "Felipe"]

# dados.sort() # Ordem alfabética
dados.sort(reverse=True) # Ordem alfabética reversa

dados

### Ordem em Dataframes
- Métodos .sort_index() e .sort_values()
- Ordem reversa: Ascending

In [16]:
cvm = pd.read_excel("CVM.xlsx", index_col="DATA")

# cvm.sort_values("DATA", ascending=False)
# cvm.sort_index()

cvm

,Unnamed: 0,CNPJ,NOME,COTA,PL,CAPTAÇÃO,RESGATES,COTISTAS
DATA,,,,,,,,
2024-01-02,0,10.500.884/0001-05,FIA,20.934817,1.792092e+09,2817811.37,5733796.49,24917
2024-01-03,1,10.500.884/0001-05,FIA,20.903796,1.791572e+09,3081170.97,945756.05,24993
2024-01-04,2,10.500.884/0001-05,FIA,20.594659,1.766061e+09,2188261.50,1204265.89,25045
2024-01-05,3,10.500.884/0001-05,FIA,20.778160,1.788679e+09,6882751.02,0.00,25108
2024-01-08,4,10.500.884/0001-05,FIA,20.919334,1.801153e+09,1754445.75,1433266.98,25132
...,...,...,...,...,...,...,...,...
2024-05-09,25,40.674.516/0001-36,GLOBAL,1.237610,5.812770e+07,20000.00,0.00,303
2024-05-10,26,40.674.516/0001-36,GLOBAL,1.242981,5.837998e+07,0.00,0.00,303
2024-05-13,27,40.674.516/0001-36,GLOBAL,1.248538,5.870265e+07,61700.00,0.00,304
2024-05-14,28,40.674.516/0001-36,GLOBAL,1.249661,5.881975e+07,64259.00,0.00,306
2024-05-15,29,40.674.516/0001-36,GLOBAL,1.257809,5.922624e+07,23000.00,0.00,306

### Operadores matemáticos
- Operações básicas (+ - * /)
- Expoente (**) e raiz quadrada (square root)
- Módulo "math" - Exemplo: math.sqrt()
- Operadores diferenciados ( // e % )
- Método .round()

In [25]:
import math
math.sqrt(4)

In [ ]:
2 // 2 # Floor division
round(3.76, 2) # Arredonda
3 % 2 # Remainder