In [14]:
import riskfolio as rp, pandas as pd

carteira = {'Ativos': ['FB', 'GOOGL', 'NTFX', 'BAC', 'WFC', 'TLT', 'SHV'],
                 'Setor': ['Tecnologia', 'Tecnologia', 'Tecnologia',
                             'Financeiro', 'Financeiro', 'Renda Fixa', 'Renda Fixa'],}

carteira = pd.DataFrame(asset_classes)

carteira

  Ativos       Setor
0     FB  Tecnologia
1  GOOGL  Tecnologia
2   NTFX  Tecnologia
3    BAC  Financeiro
4    WFC  Financeiro
5    TLT  Renda Fixa
6    SHV  Renda Fixa

In [15]:
restrições = {'Disabled': [False, False, False],
               'Type': ['Classes', 'Classes', 'Classes'],
               'Set': ['Setor', 'Setor', 'Setor'],
               'Position': ['Tecnologia', 'Financeiro', 'Renda Fixa'],
               'Sign': ['<=', '<=', '<='],
               'Weight': [0.33, 0.33, 0.33],
               'Type Relative': ['', '', ''],
               'Relative Set': ['', '', ''],
               'Relative': ['', '', ''],
               'Factor': ['', '', '']
               }

restrições = pd.DataFrame(restrições)

restrições

,Disabled,Type,Set,Position,Sign,Weight,Type Relative,Relative Set,Relative,Factor
0,False,Classes,Setor,Tecnologia,<=,0.33,,,,
1,False,Classes,Setor,Financeiro,<=,0.33,,,,
2,False,Classes,Setor,Renda Fixa,<=,0.33,,,,

In [16]:
A, B = rp.assets_constraints(restrições, carteira)

In [18]:
B

array([[-0.33],
       [-0.33],
       [-0.33]])